:root {
  --bg-image: url(/background.webp);
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url(/background-dark.webp);
  }
}
body {
  background-image: var(--bg-image);
  transition: background-image 0.3s ease; /* 添加平滑过渡 */
}
.cyber-text {
  text-shadow: 0 0 5px rgba(0, 255, 255, 0.7);
}